#root {
    max-width: 1200px;
    margin: 0 auto;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    float:center;
    /* text-align: center; */
    margin-top: 14px;
  }

  .card {
    margin: 1rem;
    border: 1px solid gray;
  }

  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }

  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  }

header {
  background-color: green;
  color: white;
  overflow: hidden;
  text-align: center;
}

button {
  font-size: 12px;
  background-size: contain;
  height: 55px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
}
button:hover {
  /*background-color: red;*/
  /* Add a hover effect for buttons */
    opacity: 0.8;
}
.center {
  text-align: center;
}

#login_details {
  background-color:#f3f3f3;
  margin-left: 480px;
  /* text-align: center; */
}

h1 {
  margin-top: 5%;
  background-color: aquamarine;
}

#login_details, #login_button, #cancel_button, #signup_button {
  padding: 15px;
  /* align-content: center; */
  /* text-align: center; */
  /* align-items: center; */
}

#signup_button {
  float: right;
  text-align: center;
  margin-right: 146px;
  /* padding-top: 2px; */
  margin-left: 430px;
  /* margin-top: 20px; */
}

#login_button {
    margin-bottom: 2px;
    margin-top: -8px;
    padding-left: 33px;
    margin-left: -66px;

}

#loginButton {
text-align: center !important;
padding-top: 14px !important;
}

#username_input {
  height: 45px;
}

.background {
    background-color:#f3f3f3;
    text-align: center;
    padding: 10px;
}
.image {
  /*body {*/
    background-image: url('./water3.jpg');
  /*}*/
}
